.cust-container{
    height: auto;
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: width .25s linear;
}
.cust-container h3{
    font-size: 14pt;
    margin: 0px 10px 10px 10px;
}
.cust-container table img{
    height: 55px;
    width: 55px;
    margin-top: 4px;
}

.cust-container table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}

.cust-container table thead{
    /* position: sticky;
    top: 40px; */
    border-bottom: 2px solid rgb(207, 207, 207);
    border-top: 2px solid rgb(207, 207, 207);
}

.cust-container table thead tr{
    height: 50px;
    /* background-color: aqua; */
}
.cust-container table tbody tr{
    border-bottom: 2px solid rgb(207, 207, 207);
    height: 60px;
}

.cust-container table tbody td{
    font-size: 15px;
    height: 30px;
}

.cust-container tbody tr td:last-child{
    gap: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-icon{
    font-size: 25px;
}

.cust-container button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cust-container button .icon{
    font-size: 20px;
}
.cust-container button:first-child{
    background-color: rgba(0, 156, 0, 0.815);
}

.cust-container button:first-child:hover{
    background-color: rgba(50, 184, 50, 0.815);
}

.cust-container button .tooltip{
    position: absolute;
    top: 55px;
    left: 0;
    height: 0;
    width: 40px;
    font-size: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    border-radius: 5px;
    background-color: rgba(92, 92, 92, 0.712);
    visibility: hidden;
    transition: all .1s ease-in;
}
.cust-container button:hover .tooltip{
    height: 20px;
    visibility: visible;
}

.cust-container button:last-child{
    background-color: rgb(207, 207, 207);
}

.edit-icon{
    color: #fcfcfc;
}
.delete-icon{
    color: rgb(80, 80, 80);
}
.cust-container button:last-child:hover .delete-icon{
    color: rgb(133, 133, 133);
}

.pagination-container{
    height: 40px;
    width: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(235, 230, 230); */
    /* border: 1px solid grey; */
    /* border-radius: 8px; */
    padding: 0px 8px 0px 8px;
    margin-right: 20px;
}
.prev-label{
    font-size: 31px;
    cursor: pointer;
    margin-top: 10px;
    transition: all .2s linear;
}
.prev-label:active{
    color: #7e7e7e;
}
.next-label{
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all .2s linear;
}
.next-label:active{
    color: #7e7e7e;
}
.current-page a{
    height: 28px;
    width: 28px;
    font-size: 20px;
    padding: 0px 13px 0px 13px;
    margin: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
}
.selected a{
    color: white;
    background-color: #000;
}
.disabled{
    color: #7e7e7e;
}


